
@{
    ViewBag.Title = "Crystal Reports";
}

<h2>Crystal Reports Control</h2>

<hr />
<p class="mt-5">
    <button id="printReportBtn" name="printReport" class="btn btn-primary">
        <i class="glyphicon glyphicon-print"></i><i class="fa fa-print fa-fw fa-lg"></i> Print Report
    </button>
    <button id="viewReportBtn" name="viewReport" class="btn btn-success">
        <i class="glyphicon glyphicon-eye-open"></i><i class="fa fa-eye fa-fw fa-lg"></i> View Report
    </button>
    <button id="telerikpdfBtn" name="viewReport" class="btn btn-info">
        <i class="glyphicon glyphicon-eye-open"></i><i class="fa fa-file-pdf fa-fw fa-lg"></i> Telerik PDF Viewer
    </button>
    <button id="downloadReportBtn" name="downloadReport" class="btn btn-danger">
        <i class="glyphicon glyphicon-download"></i><i class="fa fa-download fa-fw fa-lg"></i> Download Report
    </button>
</p>





<!--------------------------------------- Telerik PDF Viewer ---------------------------------------->
<div id="pdfPopupWindow" style="display:none;">
    <div id="pdfViewer" style="height: 800px;"></div>
</div>



@*<script type="text/javascript">
       $(document).ready(function () {
           $('#viewReportBtn').on('click', function () {

               var reportUrl = '@Url.Action("GenerateReport", "Home")';

               var Width = 1400;
               var Height = 1000;
               var left = (screen.width - Width) / 2;
               var top = (screen.height - Height) / 2;

               window.open(reportUrl, '_blank', 'width=' + Width + ',height=' + Height + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=yes,resizable=yes');
           });
       });
    </script>*@







<!------------------------------------------- Buttons Functions -------------------------------------------------->
<script type="text/javascript">
        $(document).ready(function () {


            // Browser Default PDF Viewer
            $('#viewReportBtn').on('click', function () {
                var reportUrl = '@Url.Action("GenerateReport", "Home", new { viewReport = "true" })';
                var width = 1400;
                var height = 1000;
                var left = (screen.width - width) / 2;
                var top = (screen.height - height) / 2;

                window.open(reportUrl, '_blank', 'width=' + width + ',height=' + height + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=yes,resizable=yes');
            });




            // Telerik PDF Viewer
            var pdfWindow = $("#pdfPopupWindow").kendoWindow({
                width: "75%",
                height: "90%",
                title: "Telerik PDF Viewer",
                visible: false,
                modal: true,
                resizable: true,
                actions: ["Close"],
                close: function () {
                    $("#pdfViewer").data("kendoPDFViewer").destroy();
                    $("#pdfViewer").empty();
                }
            }).data("kendoWindow");

            $('#telerikpdfBtn').on('click', function () {
                if (!$("#pdfViewer").data("kendoPDFViewer")) {
                var reportUrl = '@Url.Action("GenerateReport", "Home", new { telerikViewer = "true" })';

                    $("#pdfViewer").kendoPDFViewer({
                        pdfjsProcessing: {
                            file: reportUrl
                        },
                        width: "100%",
                        height: "100%",
                        toolbar: {
                            items: [
                                "pager", "zoom", "toggleSelection", "search", "download", "print"
                            ]
                        }
                    });

                    pdfWindow.center().open();
                } else {
                    pdfWindow.center().open();
                }
            });




            // Download Report on Button Click
            $('#downloadReportBtn').on('click', function () {
                var reportUrl = '@Url.Action("GenerateReport", "Home", new { downloadReport = "true" })';
                window.open(reportUrl);
            });




            // Print Report on Button Click
            $('#printReportBtn').on('click', function () {
                var confirmPrint = confirm("Are you sure you want to print this report?");
                if (confirmPrint) {
                    var reportUrl = '@Url.Action("GenerateReport", "Home", new { printReport = "true" })';
                    window.open(reportUrl);
                }
            });
        });
</script>

